{% extends "blog/base.html"%}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb4">Log In</legend>
                {{ form | crispy }}
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Login</button>
                </div>
            </fieldset>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
            Need an account? <a class="ml-2" href="{% url 'register' %}">Sign up</a>
            </small>
        </div>
    </div>
{% endblock content %}